# Introduction to data analysis in Python

Based on Software Carpentry's "Programming with Python" https://software-carpentry.org/lessons/ and Data Carpentry's "Data Analysis and Visualization in Python for Ecologists" https://datacarpentry.org/lessons/

Recommended setup: Anaconda / miniconda on Linux or Mac (Windows Subsystem for Linux if on Windows).

## Datatypes, variables, and methods:

### Questions
* How do I program in Python?

* How can I represent my data in Python?

### Objectives

* Define the following data types in Python: strings, integers, and floats.

* Perform mathematical operations in Python using basic operators.

* Define the following as it relates to Python: lists, tuples, and dictionaries.

### Variables

Any Python interpreter can be used as a calculator:

In [1]:
2 + 2

4

In [3]:
6 * 8

48

This is great but not very interesting. To do anything useful with data, we need to assign its value to a variable. In Python, we can assign a value to a variable, using the equals sign `=`. For example, we can track the weight of a patient who weighs 60 kilograms by assigning the value 60 to a variable `weight_kg`:

In [2]:
weight_kg = 60

From now on, whenever we use `weight_kg`, Python will substitute the value we assigned to it. In layman’s terms, a variable is a name for a value.

In Python, variable names:

* can include letters, digits, and underscores
* cannot start with a digit
* are case sensitive.

This means that, for example:

* `weight0` is a valid variable name, whereas `0weight` is not
* `weight` and `Weight` are different variables

### Built-in Python functions

To carry out common tasks with data and variables in Python, the language provides us with several built-in functions. To display information to the screen, we use the print function:

In [ ]:
print(weight_lb)

132.66
inflam_001

When we want to make use of a function, referred to as calling the function, we follow its name by parentheses. The parentheses are important: if you leave them off, the function doesn’t actually run! Sometimes you will include values or variables inside the parentheses for the function to use. In the case of print, we use the parentheses to tell the function what value we want to display. We will learn more about how functions work and how to create our own in later episodes.

We can display multiple things at once using only one `print` call:

In [9]:
print('Weight in kilograms:', weight_kg)

Weight in kilograms: 60.3

Moreover, we can do arithmetic with variables right inside the print function:

In [ ]:
print('weight in pounds:', 2.2 * weight_kg)

weight in pounds: 132.66

The above command, however, did not change the value of weight_kg:

In [ ]:
print(weight_kg)

60.3

To change the value of the `weight_kg` variable, we have to assign `weight_kg` a new value using the equals = sign:

In [ ]:
weight_kg = 65.0
print('weight in kilograms is now:', weight_kg)

weight in kilograms is now: 65.0

### Built-in data types

**Strings, integers, and floats**

Python knows various types of data. Three common ones are:

* integer numbers
* floating point numbers, and
* strings.

In the example above, variable `weight_kg` has an integer value of 60. If we want to more precisely track the weight of our patient, we can use a floating point value by executing:

In [5]:
weight_kg = 60.3

To create a string, we add single or double quotes around some text. To identify and track a patient throughout our study, we can assign each person a unique identifier by storing it in a string:

In [6]:
patient_id = '001'

We can also call a function to check the type of a variable:

In [10]:
type(weight_kg)

float

In [11]:
type(patient_id)

str

**Sequences: Lists and Tuples**

Lists are a common data structure to hold an ordered sequence of elements. Each element can be accessed by an index. Note that Python indexes start with 0 instead of 1:

In [7]:
numbers = [1, 2, 3]
numbers[0]

1

A `for` loop can be used to access the elements in a list or other Python data structure one at a time:

In [8]:
for num in numbers:
    print(num)

1
2
3

**Indentation** is very important in Python. Note that the second line in the example above is indented.

To add elements to the end of a list, we can use the `append` method. Methods are a way to interact with an object (a list, for example). We can invoke a method using the dot . followed by the method name and a list of arguments in parentheses. Let’s look at an example using `append`:

In [12]:
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

To find out what methods are available for an object, we can use the built-in `help` command:

In [13]:
help(numbers)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

A **tuple** is similar to a list in that it’s an ordered sequence of elements. However, tuples can not be changed once created (they are “immutable”). Tuples are created by placing comma-separated values inside parentheses ().

In [14]:
# Tuples use parentheses
a_tuple = (1, 2, 3)
another_tuple = ('blue', 'green', 'red')

# Note: lists use square brackets
a_list = [1, 2, 3]

A **dictionary** is a container that holds pairs of objects - keys and values.

In [15]:
translation = {'one': 'first', 'two': 'second'}
translation['one']

'first'

Dictionaries work a lot like lists - except that you index them with *keys*. You can think about a key as a name or unique identifier for the value it corresponds to.

In [16]:
rev = {'first': 'one', 'second': 'two'}
rev['first']

'one'

To add an item to the dictionary we assign a value to a new key:

In [17]:
rev = {'first': 'one', 'second': 'two'}
rev['third'] = 'three'
rev

{'first': 'one', 'second': 'two', 'third': 'three'}

Using `for` loops with dictionaries is a little more complicated. We can do this in two ways:

In [18]:
for key, value in rev.items():
    print(key, '->', value)

first -> one
second -> two
third -> three

In [19]:
for key in rev.keys():
    print(key, '->', rev[key])

first -> one
second -> two
third -> three

### Functions

Defining a section of code as a **function** in Python is done using the `def` keyword. For example a function that takes two arguments and returns their sum can be defined as:

In [1]:
def add_function(a, b):
    result = a + b
    return result

z = add_function(20, 22)
print(z)

42

### Conditionals

We can ask Python to take different actions, depending on a condition, with an `if` statement:

In [2]:
num = 37
if num > 100:
    print('greater')
else:
    print('not greater')
print('done')

not greater
done

The second line of this code uses the keyword `if` to tell Python that we want to make a choice. If the test that follows the `if` statement is true, the body of the `if` (i.e., the set of lines indented underneath it) is executed, and “greater” is printed. If the test is false, the body of the else is executed instead, and “not greater” is printed. Only one or the other is ever executed before continuing on with program execution to print “done”.

Conditional statements don’t have to include an `else`. If there isn’t one, Python simply does nothing if the test is false:

In [3]:
num = 53
print('before conditional...')
if num > 100:
    print(num, 'is greater than 100')
print('...after conditional')

before conditional...
...after conditional

We can also chain several tests together using `elif`, which is short for “else if”. The following Python code uses `elif` to print the sign of a number.

In [4]:
num = -3

if num > 0:
    print(num, 'is positive')
elif num == 0:
    print(num, 'is zero')
else:
    print(num, 'is negative')

-3 is negative

### Boolean statements

Along with the > and == operators we have already used for comparing values in our conditionals, there are a few more options to know about:

- `>`: greater than
- `<`: less than
- `==`: equal to
- `!=`: does not equal
- `>=`: greater than or equal to
- `<=`: less than or equal to

We can also combine tests using `and` and `or`. `and` is only true if both parts are true:

In [5]:
if (1 > 0) and (-1 >= 0):
    print('both parts are true')
else:
    print('at least one part is false')

at least one part is false

while `or` is true if at least one part is true:

In [6]:
if (1 < 0) or (1 >= 0):
    print('at least one test is true')

at least one test is true

Sometimes it is useful to check whether some condition is not true. The Boolean operator `not` can do this explicitly

In [11]:
if not (1 < 0):
    print('1 is not smaller than 0')

1 is not smaller than 0

### Importing libraries

Importing a library is like getting a piece of lab equipment out of a storage locker and setting it up on the bench. Libraries provide additional functionality to the basic Python package, much like a new piece of equipment adds functionality to a lab space. Just like in the lab, importing too many libraries can sometimes complicate and slow down your programs - so we only import what we need for each program.

Once we’ve imported the library, we can ask the library to perform functions that are not built-in:

In [ ]:
import numpy
weight_kg = 60.6
print(numpy.round(weight_kg))

61.0

It is common to rename libraries to appreviated names:

In [ ]:
import numpy as np
print(np.round(weight_kg))

61.0

### Key points

* Basic data types in Python include integers, strings, and floating-point numbers.

* Use `variable = value` to assign a value to a variable in order to record it in memory.

* Variables are created on demand whenever a value is assigned to them.

* Built-in functions are always available to use.

* Lists and tuples are similar in that they are ordered lists of elements; they differ in that a tuple is immutable (cannot be changed).

* Dictionaries are data structures that provide mappings between keys and values.

* Use for variable in sequence to process the elements of a sequence one at a time.

* Use if condition to start a conditional statement, elif condition to provide additional tests, and else to provide a default.

## Getting started with data

### Questions

- How can I import data in Python?
- What is Pandas?
- Why should I use Pandas to work with data?

### Objectives

- Navigate the workshop directory and download a dataset.
- Explain what a library is and what libraries are used for.
- Describe what the Python Data Analysis Library (Pandas) is.
- Load the Python Data Analysis Library (Pandas).
- Use read_csv to read tabular data into Python.
- Describe what a DataFrame is in Python.
- Access and summarize data stored in a DataFrame.
- Define indexing as it relates to data structures.
- Perform basic mathematical operations and summary statistics on data in a Pandas DataFrame.
- Create simple plots.

### Working With Pandas DataFrames in Python

We can automate the process of performing data manipulations in Python. It’s efficient to spend time building the code to perform these tasks because once it’s built, we can use it over and over on different datasets that use a similar format. This makes our methods easily reproducible. We can also easily share our code with colleagues and they can replicate the same analysis.

### Our Data

For this lesson, we will be real data from traffic registration points in Norway.

We are studying (...). The dataset is stored as a .csv file: each row holds information for a single traffic event.

The first few rows of our first file look like this:

```
_id;_index;_score;_type;county_id;created_at_timestamp;datalogger_type;event_emitted_timestamp;event_number;event_timestamp;firmware_version;klokketime;lane;length;qspeed;region_id;speed;time_gap;traffic_registration_point_id;valid_classification;valid_event;valid_length;valid_speed;vehicle_type;vehicle_type_quality;vehicle_type_raw;weight;with_traffic_registration_point_direction;wrong_direction							
1-27849732;traffic_event_vehicle_2020_10;;traffic_event_vehicle;18;2020-10-26	 02:16:08.090;EMU;2020-10-25	 23:59:53.564;27849732;2020-10-25	 23:59:53.564;1.04 EMU3/15606;23;4;4	5;0;1;73	2;123	9;1;true;true;true;true;2;;LMV2;0;false;false	
1-27849731;traffic_event_vehicle_2020_10;;traffic_event_vehicle;18;2020-10-26	 02:16:08.116;EMU;2020-10-25	 23:58:28.296;27849731;2020-10-25	 23:58:28.296;1.04 EMU3/15606;23;3;4	6;0;1;75	4;1	8;1;true;true;true;true;2;;LMV2;0;true;false	
1-27849730;traffic_event_vehicle_2020_10;;traffic_event_vehicle;18;2020-10-26	 02:16:08.066;EMU;2020-10-25	 23:58:25.527;27849730;2020-10-25	 23:58:25.527;1.04 EMU3/15606;23;3;4	6;0;1;80	1;6	8;1;true;true;true;true;2;;LMV2;0;true;false	
1-27849729;traffic_event_vehicle_2020_10;;traffic_event_vehicle;18;2020-10-26	 02:16:08.085;EMU;2020-10-25	 23:58:19.077;27849729;2020-10-25	 23:58:19.077;1.04 EMU3/15606;23;3;4	1;0;1;75	4;69	9;1;true;true;true;true;2;;LMV2;0;true;false	
```

### Pandas in Python

One of the best options for working with tabular data in Python is to use the Python Data Analysis Library (a.k.a. Pandas). The Pandas library provides data structures, produces high quality plots with matplotlib and integrates nicely with other libraries that use NumPy (which is another Python library) arrays.

Python doesn’t load all of the libraries available to it by default. We have to add an import statement to our code in order to use library functions:

In [1]:
import pandas as pd

### Reading CSV Data Using Pandas

We will begin by locating and reading our data which are in CSV format. CSV stands for Comma-Separated Values and is a common way to store formatted data. Other symbols may also be used, so you might see tab-separated, colon-separated or space separated files. It is quite easy to replace one separator with another, to match your application. The first line in the file often has headers to explain what is in each column. CSV (and other separators) make it easy to share data, and can be imported and exported from many applications, including Microsoft Excel. For more details on CSV files, see the Data Organisation in Spreadsheets lesson. We can use Pandas’ `read_csv` function to pull the file directly into a `DataFrame`.

### So What’s a DataFrame?

A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, factors and more) in columns. It is similar to a spreadsheet or an SQL table or the `data.frame` in R. A DataFrame always has an index (0-based). An index refers to the position of an element in the data structure.

In [2]:
pd.read_csv('./data/trafikkregistreringspunkt_1_-_uke_42_og_43_2020.csv')

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_quality,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
0,"2020-10-26, 02:16:08.090","2020-10-25, 23:59:53.564",27849732,"2020-10-25, 23:59:53.564",23,4,4.5,0.0,1,73.2,...,True,True,True,True,2,NaN,LMV2,0,False,False
1,"2020-10-26, 02:16:08.116","2020-10-25, 23:58:28.296",27849731,"2020-10-25, 23:58:28.296",23,3,4.6,0.0,1,75.4,...,True,True,True,True,2,NaN,LMV2,0,True,False
2,"2020-10-26, 02:16:08.066","2020-10-25, 23:58:25.527",27849730,"2020-10-25, 23:58:25.527",23,3,4.6,0.0,1,80.1,...,True,True,True,True,2,NaN,LMV2,0,True,False
3,"2020-10-26, 02:16:08.085","2020-10-25, 23:58:19.077",27849729,"2020-10-25, 23:58:19.077",23,3,4.1,0.0,1,75.4,...,True,True,True,True,2,NaN,LMV2,0,True,False
4,"2020-10-26, 02:16:08.116","2020-10-25, 23:57:49.695",27849728,"2020-10-25, 23:57:49.695",23,4,4.3,2.3,1,75.4,...,False,True,False,False,2,NaN,LMV2,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299772,"2020-10-12, 03:06:45.940","2020-10-12, 00:02:36.830",27549743,"2020-10-12, 00:02:36.830",0,4,4.2,0.0,1,80.1,...,True,True,True,True,2,NaN,LMV2,0,False,False
299773,"2020-10-12, 03:06:45.939","2020-10-12, 00:01:51.299",27549742,"2020-10-12, 00:01:51.299",0,4,5.4,0.0,1,77.7,...,True,True,True,True,2,NaN,LMV2,0,False,False
299774,"2020-10-12, 03:06:45.944","2020-10-12, 00:01:35.216",27549741,"2020-10-12, 00:01:35.216",0,3,4.1,0.0,1,77.7,...,True,True,True,True,2,NaN,LMV2,0,True,False
299775,"2020-10-12, 03:06:45.947","2020-10-12, 00:01:28.606",27549740,"2020-10-12, 00:01:28.606",0,4,4.1,0.0,1,67.5,...,True,True,True,True,2,NaN,LMV2,0,False,False
299776,"2020-10-12, 03:06:45.940","2020-10-12, 00:01:20.541",27549739,"2020-10-12, 00:01:20.541",0,4,4.6,0.0,1,77.7,...,True,True,True,True,2,NaN,LMV2,0,False,False

We can see that there were 299,777 rows parsed. Each row has 29 columns. The first column is the index of the DataFrame. The index is used to identify the position of the data, but it is not an actual column of the DataFrame. It looks like the `read_csv` function in Pandas read our file properly. However, we haven’t saved any data to memory so we can work with it. We need to assign the DataFrame to a variable. Remember that a variable is a name for a value, such as `x`, or `data`. We can create a new object with a variable name by assigning a value to it using `=`.

Let’s call the imported survey data `data`:

In [3]:
data = pd.read_csv('./data/trafikkregistreringspunkt_1_-_uke_42_og_43_2020.csv')

Notice when you assign the imported DataFrame to a variable, Python does not produce any output on the screen. We can view the value of the surveys_df object by typing its name into the Python command prompt.

In [41]:
data

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_quality,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
0,"2020-10-26, 02:16:08.090","2020-10-25, 23:59:53.564",27849732,"2020-10-25, 23:59:53.564",23,4,4.5,0.0,1,73.2,...,True,True,True,True,2,NaN,LMV2,0,False,False
1,"2020-10-26, 02:16:08.116","2020-10-25, 23:58:28.296",27849731,"2020-10-25, 23:58:28.296",23,3,4.6,0.0,1,75.4,...,True,True,True,True,2,NaN,LMV2,0,True,False
2,"2020-10-26, 02:16:08.066","2020-10-25, 23:58:25.527",27849730,"2020-10-25, 23:58:25.527",23,3,4.6,0.0,1,80.1,...,True,True,True,True,2,NaN,LMV2,0,True,False
3,"2020-10-26, 02:16:08.085","2020-10-25, 23:58:19.077",27849729,"2020-10-25, 23:58:19.077",23,3,4.1,0.0,1,75.4,...,True,True,True,True,2,NaN,LMV2,0,True,False
4,"2020-10-26, 02:16:08.116","2020-10-25, 23:57:49.695",27849728,"2020-10-25, 23:57:49.695",23,4,4.3,2.3,1,75.4,...,False,True,False,False,2,NaN,LMV2,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299772,"2020-10-12, 03:06:45.940","2020-10-12, 00:02:36.830",27549743,"2020-10-12, 00:02:36.830",0,4,4.2,0.0,1,80.1,...,True,True,True,True,2,NaN,LMV2,0,False,False
299773,"2020-10-12, 03:06:45.939","2020-10-12, 00:01:51.299",27549742,"2020-10-12, 00:01:51.299",0,4,5.4,0.0,1,77.7,...,True,True,True,True,2,NaN,LMV2,0,False,False
299774,"2020-10-12, 03:06:45.944","2020-10-12, 00:01:35.216",27549741,"2020-10-12, 00:01:35.216",0,3,4.1,0.0,1,77.7,...,True,True,True,True,2,NaN,LMV2,0,True,False
299775,"2020-10-12, 03:06:45.947","2020-10-12, 00:01:28.606",27549740,"2020-10-12, 00:01:28.606",0,4,4.1,0.0,1,67.5,...,True,True,True,True,2,NaN,LMV2,0,False,False
299776,"2020-10-12, 03:06:45.940","2020-10-12, 00:01:20.541",27549739,"2020-10-12, 00:01:20.541",0,4,4.6,0.0,1,77.7,...,True,True,True,True,2,NaN,LMV2,0,False,False

which prints contents like above.

### Exploring the data

Again, we can use the `type` function to see what kind of thing `data` is:

In [42]:
type(data)

pandas.core.frame.DataFrame

As expected, it’s a DataFrame (or, to use the full name that Python uses to refer to it internally, a pandas.core.frame.DataFrame).

What kind of data does `data` contain? DataFrames have an attribute called `dtypes` that answers this:

In [43]:
data.dtypes

created_at_timestamp                          object
event_emitted_timestamp                       object
event_number                                   int64
event_timestamp                               object
klokketime                                     int64
lane                                           int64
length                                       float64
qspeed                                       float64
region_id                                      int64
speed                                        float64
time_gap                                     float64
traffic_registration_point_id                  int64
valid_classification                            bool
valid_event                                     bool
valid_length                                    bool
valid_speed                                     bool
vehicle_type                                   int64
vehicle_type_quality                         float64
vehicle_type_raw                              object
weight                                         int64
with_traffic_registration_point_direction       bool
wrong_direction                                 bool
dtype: object

Not all the values in a column have the same type. For example, `klokketime` have type `int64`, which is a kind of integer. Cells in the `klokketime` column cannot have fractional values, but the `_score` and `vehicle_type` columns can, because they have type `float64`. The `object` type doesn’t have a very helpful name, but it can for example represent `Strings` like `created_at_timestamp`.

### Useful Ways to View DataFrame objects in Python

There are many ways to summarize and access the data stored in DataFrames, using attributes and methods provided by the DataFrame object.

To access an attribute, use the DataFrame object name followed by the attribute name `df_object.attribute`. Using the DataFrame `data` and attribute `columns`, an index of all the column names in the DataFrame can be accessed with `data.columns`.

Methods are called in a similar fashion using the syntax `df_object.method()`. As an example, `data.head()` gets the first few rows in the DataFrame `data` using the `head()` method. With a method, we can supply extra information in the parens to control behaviour.

Using our DataFrame `data`, try out the attributes & methods below to see what they return.
- `data.columns`
- `data.shape` Take note of the output of shape - what format does it return the shape of the DataFrame in?
- `data.head()` Also, what does `data.head(15)` do?
- `data.tail()`

### Calculating Statistics From Data In A Pandas DataFrame

We’ve read our data into Python. Next, let’s perform some quick summary statistics to learn more about the data that we’re working with. We might want to know how many animals were collected in each site, or how many of each species were caught. We can perform summary stats quickly using groups. But first we need to figure out what we want to group by.

Let’s begin by exploring our data:

In [44]:
data.columns

Index(['created_at_timestamp', 'event_emitted_timestamp', 'event_number',
       'event_timestamp', 'klokketime', 'lane', 'length', 'qspeed',
       'region_id', 'speed', 'time_gap', 'traffic_registration_point_id',
       'valid_classification', 'valid_event', 'valid_length', 'valid_speed',
       'vehicle_type', 'vehicle_type_quality', 'vehicle_type_raw', 'weight',
       'with_traffic_registration_point_direction', 'wrong_direction'],
      dtype='object')

Let’s get a list of all the vehicle types. The `unique` function tells us all of the unique values in the `vehicle_type_raw` column.

In [45]:
data['vehicle_type_raw'].unique()

array(['LMV2', 'HMV', 'LMV2+WC', 'LMV1', 'UC LOOP'], dtype=object)

We can easily calculate basic statistics for all numerical records:

In [46]:
data.describe()

,event_number,klokketime,lane,length,qspeed,region_id,speed,time_gap,traffic_registration_point_id,vehicle_type,vehicle_type_quality,weight
count,2.997770e+05,299777.000000,299777.000000,299777.000000,299777.000000,299777.0,299777.000000,299777.000000,299777.0,299777.000000,0.0,299777.0
mean,2.769971e+07,13.560760,3.082418,4.969835,0.643988,1.0,76.711151,15.496868,1.0,2.094120,NaN,0.0
std,8.662735e+04,4.606718,0.966889,2.171577,1.048323,0.0,14.752190,93.136077,0.0,0.356679,NaN,0.0
min,2.754974e+07,0.000000,1.000000,0.500000,-7.000000,1.0,2.000000,-1.000000,1.0,1.000000,NaN,0.0
25%,2.762468e+07,10.000000,3.000000,4.300000,0.000000,1.0,71.200000,2.400000,1.0,2.000000,NaN,0.0
50%,2.769963e+07,14.000000,3.000000,4.600000,0.000000,1.0,77.700000,4.700000,1.0,2.000000,NaN,0.0
75%,2.777479e+07,17.000000,4.000000,4.900000,2.000000,1.0,82.700000,11.700000,1.0,2.000000,NaN,0.0
max,2.784973e+07,23.000000,4.000000,655.400000,5.100000,1.0,6553.500000,6553.500000,1.0,4.000000,NaN,0.0

### Grouping data

We often want to calculate summary statistics grouped by subsets or attributes within fields of our data. For example, we might want to calculate the average speed of all vehicles per vehicle type.

Similarly to calculating statistics for the whole dataset we can calculate them for a single column:

In [47]:
data['speed'].describe()

count    299777.000000
mean         76.711151
std          14.752190
min           2.000000
25%          71.200000
50%          77.700000
75%          82.700000
max        6553.500000
Name: speed, dtype: float64

We can also extract one specific metric if we wish:

In [48]:
data['speed'].min()
data['speed'].max()
data['speed'].mean()
data['speed'].std()
data['speed'].count()

299777

But if we want to summarize by one or more variables, for example vehicle type, we can use Pandas’ `.groupby` method. Once we’ve created a groupby DataFrame, we can quickly calculate summary statistics by a group of our choice.

In [49]:
grouped_data = data.groupby('vehicle_type')

In [50]:
grouped_data.describe()

             event_number                                          \
                    count          mean           std         min
vehicle_type
1                   349.0  2.764940e+07  80159.023739  27550458.0
2                276804.0  2.770050e+07  86710.262429  27549739.0
3                 16684.0  2.768975e+07  84656.978574  27549757.0
4                  5940.0  2.769364e+07  85767.154850  27549785.0

                                                               klokketime  \
                      25%         50%          75%         max      count
vehicle_type
1             27582862.00  27627435.0  27705470.00  27846924.0      349.0
2             27625505.75  27700034.5  27775663.25  27849732.0   276804.0
3             27612596.25  27693262.5  27761688.75  27849716.0    16684.0
4             27618658.25  27690945.0  27767405.25  27849641.0     5940.0

                         ... vehicle_type_quality        weight            \
                   mean  ...                  75% max     count mean  std
vehicle_type             ...
1             13.017192  ...                  NaN NaN     349.0  0.0  0.0
2             13.649655  ...                  NaN NaN  276804.0  0.0  0.0
3             12.027871  ...                  NaN NaN   16684.0  0.0  0.0
4             13.755724  ...                  NaN NaN    5940.0  0.0  0.0


              min  25%  50%  75%  max
vehicle_type
1             0.0  0.0  0.0  0.0  0.0
2             0.0  0.0  0.0  0.0  0.0
3             0.0  0.0  0.0  0.0  0.0
4             0.0  0.0  0.0  0.0  0.0

[4 rows x 88 columns]

In [51]:
grouped_data.mean()

,event_number,klokketime,lane,length,qspeed,region_id,speed,time_gap,traffic_registration_point_id,valid_classification,valid_event,valid_length,valid_speed,vehicle_type_quality,weight,with_traffic_registration_point_direction,wrong_direction
vehicle_type,,,,,,,,,,,,,,,,,
1,2.764940e+07,13.017192,2.676218,0.853582,1.696275,1.0,76.120917,17.632378,1.0,0.034384,1.0,0.031519,0.237822,NaN,0.0,0.532951,0.000000
2,2.770050e+07,13.649655,3.064970,4.568734,0.656975,1.0,76.961914,15.369673,1.0,0.714928,1.0,0.714773,0.715084,NaN,0.0,0.495361,0.000011
3,2.768975e+07,12.027871,3.319348,10.351576,0.502703,1.0,73.403944,17.636796,1.0,0.776373,1.0,0.776253,0.776672,NaN,0.0,0.508871,0.000120
4,2.769364e+07,13.755724,3.253872,8.787020,0.373805,1.0,74.349411,15.288148,1.0,0.834512,1.0,0.834343,0.834343,NaN,0.0,0.505387,0.000000

If we wanted to, we could perform math on an entire column of our data. For example let’s multiply all weight values by 2. A more practical use of this might be to normalize the data according to a mean, area, or some other value calculated from our data.

In [52]:
speed_normalised = data['speed']/data['speed'].mean()
print(speed_normalised)

0         0.954229
1         0.982908
2         1.044177
3         0.982908
4         0.982908
            ...
299772    1.044177
299773    1.012891
299774    1.012891
299775    0.879924
299776    1.012891
Name: speed, Length: 299777, dtype: float64

### A quick way to create summary counts

Let’s next count the number of samples for each species. We can do this in a few ways, but we’ll use `groupby` combined with a `count()` method.

In [53]:
vehicle_type_count = data.groupby('vehicle_type')['event_number'].count()
print(vehicle_type_count)

vehicle_type
1       349
2    276804
3     16684
4      5940
Name: event_number, dtype: int64

### Key Points

* Pandas is a popular library for working with data.
* A Dataframe is a Pandas data structure that allows one to access data by column (name or index) or row.
* Aggregating data using the `groupby()` function enables you to generate useful summaries of data quickly.
* Plots can be created from DataFrames or subsets of data that have been generated with `groupby()`.

## Indexing, Slicing and Subsetting DataFrames in Python

### Questions

- How can I access specific data within my data set?
- How can Python and Pandas help me to analyse my data?

### Objectives

- Describe what 0-based indexing is.
- Manipulate and extract data using column headings and index locations.
- Employ slicing to select sets of data from a DataFrame.
- Employ label and integer-based indexing to select ranges of data in a dataframe.
- Reassign values within subsets of a DataFrame.
- Create a copy of a DataFrame.
- Query / select a subset of data using a set of criteria using the following operators: `==`, `!=`, `>`, `<`, `>=`, `<=`.
- Locate subsets of data using masks.
- Describe BOOLEAN objects in Python and manipulate data using BOOLEANs.

Previously we read a CSV file into a Pandas DataFrame. We learned how to:

- save a DataFrame to a named object,
- perform basic math on data,
- calculate summary statistics, and
- create plots based on the data we loaded into pandas.

In this lesson, we will explore ways to access different parts of the data using:

- indexing,
- slicing, and
- subsetting.

We often want to work with subsets of a DataFrame object. There are different ways to accomplish this including: using labels (column headings), numeric ranges, or specific x, y index locations.

### Selecting data using labels (column headings)

We use square brackets `[]` to select a subset of a Python object. For example, we can select all data from a column named species_id from the surveys_df DataFrame by name. There are two ways to do this:

In [118]:
data['vehicle_type']

0         2
1         2
2         2
3         2
4         2
         ..
299772    2
299773    2
299774    2
299775    2
299776    2
Name: vehicle_type, Length: 299777, dtype: int64

In [119]:
data.vehicle_type

0         2
1         2
2         2
3         2
4         2
         ..
299772    2
299773    2
299774    2
299775    2
299776    2
Name: vehicle_type, Length: 299777, dtype: int64

We can also create a new object that contains only the data within the `vehicle_type` column as follows:

In [120]:
vehicle_type = data['vehicle_type']

We can pass a list of column names too, as an index to select columns in that order. This is useful when we need to reorganize our data. If a column name is not contained in the DataFrame, an exception (error) will be raised.

In [121]:
data[['vehicle_type', 'lane']]

        vehicle_type  lane
0                  2     4
1                  2     3
2                  2     3
3                  2     3
4                  2     4
...              ...   ...
299772             2     4
299773             2     4
299774             2     3
299775             2     4
299776             2     4

[299777 rows x 2 columns]

In [122]:
data[['lane', 'vehicle_type']]

        lane  vehicle_type
0          4             2
1          3             2
2          3             2
3          3             2
4          4             2
...      ...           ...
299772     4             2
299773     4             2
299774     3             2
299775     4             2
299776     4             2

[299777 rows x 2 columns]

In [124]:
data['vehicles_type']

KeyError: 'vehicles_type'

Python tells us what type of error it is in the traceback, at the bottom it says `KeyError: 'vehicles_type'` which means that speciess is not a valid column name (nor a valid key in the related Python data type dictionary).

**Note**: The Python language and its modules (such as Pandas) define reserved words that should not be used as identifiers when assigning objects and variable names. Examples of reserved words in Python include Boolean values `True` and `False`, operators `and`, `or`, and `not`, among others. The full list of reserved words for Python version 3 is provided at https://docs.python.org/3/reference/lexical_analysis.html#identifiers.

When naming objects and variables, it’s also important to avoid using the names of built-in data structures and methods. For example, a *list* is a built-in data type. It is possible to use the word 'list' as an identifier for a new object, for example `list = ['apples', 'oranges', 'bananas']`. However, you would then be unable to create an empty list using `list()` or convert a tuple to a list using `list(sometuple)`.

### Extracting Range based Subsets: Slicing

Let’s remind ourselves that Python uses 0-based indexing. This means that the first element in an object is located at position 0. This is different from other tools like R and Matlab that index elements within objects starting at 1.

In [4]:
a = [1, 2, 3, 4, 5]

**Exercise**

What do these lines of code return?

- `a[0]`
- `a[5]`
- `a[len(a)]`

### Slicing Subsets of Rows in Python

Slicing using the `[]` operator selects a set of rows and/or columns from a DataFrame. To slice out a set of rows, you use the following syntax: `data[start:stop]`. When slicing in pandas the start bound is included in the output. *The stop bound is excluded*. So if you want to select rows 0, 1 and 2 your code would look like this:

In [6]:
a[0:3]

[1, 2, 3]

The last element can we accessed using `-1`

In [7]:
a[-1]

5

In [10]:
a[2:-1]

[3, 4]

### Copying Objects vs Referencing Objects in Python

In [11]:
data_true_copy = data.copy()

In [12]:
data_ref = data

You might think that the code `data_ref = data` creates a fresh distinct copy of the `data` DataFrame object. However, using the `=` operator in the simple statement `y = x` does not create a copy of our DataFrame. Instead, `y = x` creates a new variable `y` that references the same object that `x` refers to. To state this another way, there is only one object (the DataFrame), and both `x` and `y` refer to it.

In contrast, the `copy()` method for a DataFrame creates a true copy of the DataFrame.

Let’s look at what happens when we reassign the values within a subset of the DataFrame that references another DataFrame object:

In [13]:
data_ref[0:3] = 0

In [15]:
data_ref.head()

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_quality,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
0,0,0,0,0,0,0,0.0,0.0,0,0.0,...,0,0,0,0,0,0.0,0,0,0,0
1,0,0,0,0,0,0,0.0,0.0,0,0.0,...,0,0,0,0,0,0.0,0,0,0,0
2,0,0,0,0,0,0,0.0,0.0,0,0.0,...,0,0,0,0,0,0.0,0,0,0,0
3,"2020-10-26, 02:16:08.085","2020-10-25, 23:58:19.077",27849729,"2020-10-25, 23:58:19.077",23,3,4.1,0.0,1,75.4,...,True,True,True,True,2,NaN,LMV2,0,True,False
4,"2020-10-26, 02:16:08.116","2020-10-25, 23:57:49.695",27849728,"2020-10-25, 23:57:49.695",23,4,4.3,2.3,1,75.4,...,False,True,False,False,2,NaN,LMV2,0,False,False

In [16]:
data.head()

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_quality,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
0,0,0,0,0,0,0,0.0,0.0,0,0.0,...,0,0,0,0,0,0.0,0,0,0,0
1,0,0,0,0,0,0,0.0,0.0,0,0.0,...,0,0,0,0,0,0.0,0,0,0,0
2,0,0,0,0,0,0,0.0,0.0,0,0.0,...,0,0,0,0,0,0.0,0,0,0,0
3,"2020-10-26, 02:16:08.085","2020-10-25, 23:58:19.077",27849729,"2020-10-25, 23:58:19.077",23,3,4.1,0.0,1,75.4,...,True,True,True,True,2,NaN,LMV2,0,True,False
4,"2020-10-26, 02:16:08.116","2020-10-25, 23:57:49.695",27849728,"2020-10-25, 23:57:49.695",23,4,4.3,2.3,1,75.4,...,False,True,False,False,2,NaN,LMV2,0,False,False

What is the difference between these two dataframes?

When we assigned the first 3 columns the value of 0 using the `data_ref` DataFrame, the `data` DataFrame is modified too. Remember we created the reference `data_ref` object above when we did `data_ref = data`. Remember `data` and `data_ref` refer to the same exact DataFrame object. If either one changes the object, the other will see the same changes to the reference object.

**Recap:**

- A true **copy** is created using the `copy()` method
- The `=` operator creates a **reference** only

Let's get our dataset back.

In [83]:
data = pd.read_csv('./data/trafikkregistreringspunkt_1_-_uke_42_og_43_2020.csv')

### Slicing Subsets of Rows and Columns in Python

We can select specific ranges of our data in both the row and column directions using either label or integer-based indexing.

- `loc` is primarily label based indexing. Integers may be used but they are interpreted as a label.
- `iloc` is primarily integer based indexing

To select a subset of rows *and* columns from our DataFrame, we can use the `iloc` method. For example, we can select `klokketime`, `lane` and `length` (columns 4, 5 and 6 if we start counting at 0), like this:

In [19]:
data.iloc[0:3, 4:7]

   klokketime  lane  length
0          23     4     4.5
1          23     3     4.6
2          23     3     4.6

In [20]:
# Select all columns for rows of index values 0 and 10
data.loc[[0, 10], :]

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_quality,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
0,"2020-10-26, 02:16:08.090","2020-10-25, 23:59:53.564",27849732,"2020-10-25, 23:59:53.564",23,4,4.5,0.0,1,73.2,...,True,True,True,True,2,NaN,LMV2,0,False,False
10,"2020-10-26, 02:16:08.090","2020-10-25, 23:55:52.473",27849722,"2020-10-25, 23:55:52.473",23,4,4.2,2.3,1,75.4,...,False,True,False,False,2,NaN,LMV2,0,False,False

In [23]:
# Select three columns for row of index 0 (label-based)
data.loc[0, ['speed', 'vehicle_type', 'valid_speed']]

speed           73.2
vehicle_type       2
valid_speed     True
Name: 0, dtype: object

In [25]:
# Select all columns for rows of index 0, 10, and 35549
data.loc[[0, 10, 35549], :]

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_quality,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
0,"2020-10-26, 02:16:08.090","2020-10-25, 23:59:53.564",27849732,"2020-10-25, 23:59:53.564",23,4,4.5,0.0,1,73.2,...,True,True,True,True,2,NaN,LMV2,0,False,False
10,"2020-10-26, 02:16:08.090","2020-10-25, 23:55:52.473",27849722,"2020-10-25, 23:55:52.473",23,4,4.2,2.3,1,75.4,...,False,True,False,False,2,NaN,LMV2,0,False,False
35549,"2020-10-24, 00:41:19.075","2020-10-23, 15:54:00.175",27814183,"2020-10-23, 15:54:00.175",15,3,6.2,2.0,1,67.5,...,False,True,False,False,3,NaN,HMV,0,True,False

Indexing by labels `loc` differs from indexing by integers `iloc`. With `loc`, both the start bound and the stop bound are inclusive. When using `loc`, integers can be used, but the integers refer to the index label and not the position. For example, using `loc` and select rows 1:4 will get a different result than using `iloc` to select rows 1:4.

We can also select a specific data value using a row and column location within the DataFrame and `iloc` indexing:

In [27]:
data.iloc[2,6]

4.6

### Subsetting Data using Criteria

We can also select a subset of our data using criteria. For example, we can select all rows that have a `vehicle_type` value of 1:

In [28]:
data[data['vehicle_type'] == 1]

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_quality,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
2808,"2020-10-25, 21:25:41.263","2020-10-25, 18:49:39.103",27846924,"2020-10-25, 18:49:39.103",18,2,2.3,2.2,1,73.2,...,False,True,False,False,1,NaN,LMV1,0,False,False
9244,"2020-10-25, 16:32:51.700","2020-10-25, 13:11:59.856",27840488,"2020-10-25, 13:11:59.856",13,3,1.3,1.4,1,48.3,...,False,True,False,False,1,NaN,LMV1,0,True,False
12141,"2020-10-25, 10:14:09.523","2020-10-25, 07:36:31.047",27837591,"2020-10-25, 07:36:31.047",7,2,1.4,2.1,1,69.3,...,False,True,False,False,1,NaN,LMV1,0,False,False
12149,"2020-10-25, 10:14:09.516","2020-10-25, 07:35:01.789",27837583,"2020-10-25, 07:35:01.789",7,3,1.7,3.8,1,128.2,...,False,True,False,False,1,NaN,LMV1,0,True,False
13619,"2020-10-25, 01:10:34.892","2020-10-24, 22:39:09.754",27836113,"2020-10-24, 22:39:09.754",22,4,2.0,0.0,1,75.4,...,True,True,True,True,1,NaN,LMV1,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297594,"2020-10-12, 10:11:11.776","2020-10-12, 07:30:08.042",27551921,"2020-10-12, 07:30:08.042",7,1,0.6,2.7,1,91.6,...,False,True,False,False,1,NaN,LMV1,0,True,False
297989,"2020-10-12, 10:11:11.635","2020-10-12, 07:19:02.729",27551526,"2020-10-12, 07:19:02.729",7,1,0.6,2.4,1,80.1,...,False,True,False,False,1,NaN,LMV1,0,True,False
298658,"2020-10-12, 09:08:43.967","2020-10-12, 06:55:42.670",27550857,"2020-10-12, 06:55:42.670",6,1,1.0,2.8,1,94.9,...,False,True,False,False,1,NaN,LMV1,0,True,False
298766,"2020-10-12, 09:08:44.011","2020-10-12, 06:52:20.691",27550749,"2020-10-12, 06:52:20.691",6,4,0.5,1.4,1,45.7,...,False,True,False,False,1,NaN,LMV1,0,False,False
299057,"2020-10-12, 09:08:43.976","2020-10-12, 06:41:45.436",27550458,"2020-10-12, 06:41:45.436",6,1,0.8,2.7,1,91.6,...,False,True,False,False,1,NaN,LMV1,0,True,False

Or we can select all rows that do not contain vehicle type 1:

In [29]:
data[data['vehicle_type'] != 1]

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_quality,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
0,"2020-10-26, 02:16:08.090","2020-10-25, 23:59:53.564",27849732,"2020-10-25, 23:59:53.564",23,4,4.5,0.0,1,73.2,...,True,True,True,True,2,NaN,LMV2,0,False,False
1,"2020-10-26, 02:16:08.116","2020-10-25, 23:58:28.296",27849731,"2020-10-25, 23:58:28.296",23,3,4.6,0.0,1,75.4,...,True,True,True,True,2,NaN,LMV2,0,True,False
2,"2020-10-26, 02:16:08.066","2020-10-25, 23:58:25.527",27849730,"2020-10-25, 23:58:25.527",23,3,4.6,0.0,1,80.1,...,True,True,True,True,2,NaN,LMV2,0,True,False
3,"2020-10-26, 02:16:08.085","2020-10-25, 23:58:19.077",27849729,"2020-10-25, 23:58:19.077",23,3,4.1,0.0,1,75.4,...,True,True,True,True,2,NaN,LMV2,0,True,False
4,"2020-10-26, 02:16:08.116","2020-10-25, 23:57:49.695",27849728,"2020-10-25, 23:57:49.695",23,4,4.3,2.3,1,75.4,...,False,True,False,False,2,NaN,LMV2,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299772,"2020-10-12, 03:06:45.940","2020-10-12, 00:02:36.830",27549743,"2020-10-12, 00:02:36.830",0,4,4.2,0.0,1,80.1,...,True,True,True,True,2,NaN,LMV2,0,False,False
299773,"2020-10-12, 03:06:45.939","2020-10-12, 00:01:51.299",27549742,"2020-10-12, 00:01:51.299",0,4,5.4,0.0,1,77.7,...,True,True,True,True,2,NaN,LMV2,0,False,False
299774,"2020-10-12, 03:06:45.944","2020-10-12, 00:01:35.216",27549741,"2020-10-12, 00:01:35.216",0,3,4.1,0.0,1,77.7,...,True,True,True,True,2,NaN,LMV2,0,True,False
299775,"2020-10-12, 03:06:45.947","2020-10-12, 00:01:28.606",27549740,"2020-10-12, 00:01:28.606",0,4,4.1,0.0,1,67.5,...,True,True,True,True,2,NaN,LMV2,0,False,False
299776,"2020-10-12, 03:06:45.940","2020-10-12, 00:01:20.541",27549739,"2020-10-12, 00:01:20.541",0,4,4.6,0.0,1,77.7,...,True,True,True,True,2,NaN,LMV2,0,False,False

We can define sets of criteria too:

In [33]:
data[(data.vehicle_type == 1) & (data.speed > 80)]

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_quality,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
12149,"2020-10-25, 10:14:09.516","2020-10-25, 07:35:01.789",27837583,"2020-10-25, 07:35:01.789",7,3,1.7,3.8,1,128.2,...,False,True,False,False,1,NaN,LMV1,0,True,False
24920,"2020-10-24, 14:24:24.972","2020-10-24, 11:37:26.340",27824812,"2020-10-24, 11:37:26.340",11,3,0.6,2.4,1,80.1,...,False,True,False,False,1,NaN,LMV1,0,True,False
30692,"2020-10-24, 00:50:17.526","2020-10-23, 19:17:28.601",27819040,"2020-10-23, 19:17:28.601",19,4,0.6,2.7,1,88.4,...,False,True,False,False,1,NaN,LMV1,0,False,False
33433,"2020-10-24, 00:43:16.392","2020-10-23, 16:59:59.050",27816299,"2020-10-23, 16:59:59.050",16,3,1.7,2.6,1,85.5,...,False,True,False,False,1,NaN,LMV1,0,True,False
49226,"2020-10-23, 12:22:54.509","2020-10-23, 07:29:48.257",27800506,"2020-10-23, 07:29:48.257",7,3,1.0,2.6,1,85.5,...,False,True,False,False,1,NaN,LMV1,0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297328,"2020-10-12, 10:11:11.696","2020-10-12, 07:37:16.047",27552187,"2020-10-12, 07:37:16.047",7,2,0.9,2.6,1,85.5,...,False,True,False,False,1,NaN,LMV1,0,False,False
297594,"2020-10-12, 10:11:11.776","2020-10-12, 07:30:08.042",27551921,"2020-10-12, 07:30:08.042",7,1,0.6,2.7,1,91.6,...,False,True,False,False,1,NaN,LMV1,0,True,False
297989,"2020-10-12, 10:11:11.635","2020-10-12, 07:19:02.729",27551526,"2020-10-12, 07:19:02.729",7,1,0.6,2.4,1,80.1,...,False,True,False,False,1,NaN,LMV1,0,True,False
298658,"2020-10-12, 09:08:43.967","2020-10-12, 06:55:42.670",27550857,"2020-10-12, 06:55:42.670",6,1,1.0,2.8,1,94.9,...,False,True,False,False,1,NaN,LMV1,0,True,False
299057,"2020-10-12, 09:08:43.976","2020-10-12, 06:41:45.436",27550458,"2020-10-12, 06:41:45.436",6,1,0.8,2.7,1,91.6,...,False,True,False,False,1,NaN,LMV1,0,True,False

### Using masks to identify a specific condition

A **mask** can be useful to locate where a particular subset of values exist or don’t exist - for example, NaN, or "Not a Number" values. To understand masks, we also need to understand BOOLEAN objects in Python.

Boolean values include True or False. For example,

In [34]:
x = 5

In [35]:
x > 5

False

In [36]:
x == 5

True

When we ask Python whether `x` is greater than 5, it returns `False`. This is Python's way of saying "No". Indeed, the value of `x` is 5, and 5 is not greater than 5.

To create a boolean mask:

- Set the True / False criteria (e.g. `values > 5 == True`)
- Python will then assess each value in the object to determine whether the value meets the criteria (`True`) or not (`False`).
- Python creates an output object that is the same shape as the original object, but with a `True` or `False` value for each index location.

Let's identify all data that not considered valid as defined earlier today.

In [57]:
data['valid'] = data['valid_classification'] & data['valid_event'] &\
                data['valid_length'] & ['valid_speed']

In [60]:
mask = data['valid_classification'] & data['valid_event'] &\
                data['valid_length'] & ['valid_speed']
mask

0          True
1          True
2          True
3          True
4         False
          ...
299772     True
299773     True
299774     True
299775     True
299776     True
Length: 299777, dtype: bool

To select the rows where there are null values, we can use the mask as an index to subset our data as follows:

Use the mask to select data:

In [61]:
data[mask]

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_quality,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction,valid
0,"2020-10-26, 02:16:08.090","2020-10-25, 23:59:53.564",27849732,"2020-10-25, 23:59:53.564",23,4,4.5,0.0,1,73.2,...,True,True,True,2,NaN,LMV2,0,False,False,True
1,"2020-10-26, 02:16:08.116","2020-10-25, 23:58:28.296",27849731,"2020-10-25, 23:58:28.296",23,3,4.6,0.0,1,75.4,...,True,True,True,2,NaN,LMV2,0,True,False,True
2,"2020-10-26, 02:16:08.066","2020-10-25, 23:58:25.527",27849730,"2020-10-25, 23:58:25.527",23,3,4.6,0.0,1,80.1,...,True,True,True,2,NaN,LMV2,0,True,False,True
3,"2020-10-26, 02:16:08.085","2020-10-25, 23:58:19.077",27849729,"2020-10-25, 23:58:19.077",23,3,4.1,0.0,1,75.4,...,True,True,True,2,NaN,LMV2,0,True,False,True
5,"2020-10-26, 02:16:08.082","2020-10-25, 23:57:35.755",27849727,"2020-10-25, 23:57:35.755",23,4,3.9,0.0,1,82.7,...,True,True,True,2,NaN,LMV2,0,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299772,"2020-10-12, 03:06:45.940","2020-10-12, 00:02:36.830",27549743,"2020-10-12, 00:02:36.830",0,4,4.2,0.0,1,80.1,...,True,True,True,2,NaN,LMV2,0,False,False,True
299773,"2020-10-12, 03:06:45.939","2020-10-12, 00:01:51.299",27549742,"2020-10-12, 00:01:51.299",0,4,5.4,0.0,1,77.7,...,True,True,True,2,NaN,LMV2,0,False,False,True
299774,"2020-10-12, 03:06:45.944","2020-10-12, 00:01:35.216",27549741,"2020-10-12, 00:01:35.216",0,3,4.1,0.0,1,77.7,...,True,True,True,2,NaN,LMV2,0,True,False,True
299775,"2020-10-12, 03:06:45.947","2020-10-12, 00:01:28.606",27549740,"2020-10-12, 00:01:28.606",0,4,4.1,0.0,1,67.5,...,True,True,True,2,NaN,LMV2,0,False,False,True
299776,"2020-10-12, 03:06:45.940","2020-10-12, 00:01:20.541",27549739,"2020-10-12, 00:01:20.541",0,4,4.6,0.0,1,77.7,...,True,True,True,2,NaN,LMV2,0,False,False,True

### Key Points

- In Python, portions of data can be accessed using indices, slices, column headings, and condition-based subsetting.
- Python uses 0-based indexing, in which the first element in a list, tuple or any other data structure has an index of 0.
- Pandas enables common data exploration steps such as data indexing, slicing and conditional subsetting.

## Data Types and Formats

### Questions

- What types of data can be contained in a DataFrame?
- Why is the data type important?

### Objectives

- Describe how information is stored in a Python DataFrame.
- Define the two main types of data in Python: text and numerics.
- Examine the structure of a DataFrame.
- Modify the format of values in a DataFrame.
- Describe how data types impact operations.
- Define, manipulate, and interconvert integers and floats in Python.
- Analyze datasets having missing/null values (NaN values).
- Write manipulated data to a file.

The format of individual columns and rows will impact analysis performed on a dataset read into Python. For example, you can’t perform mathematical calculations on a string (text formatted data). This might seem obvious, however sometimes numeric values are read into Python as strings. In this situation, when you then try to perform calculations on the string-formatted numeric data, you get an error.

In this lesson we will review ways to explore and better understand the structure and format of our data.

### Types of Data

How information is stored in a DataFrame or a Python object affects what we can do with it and the outputs of calculations as well. There are two main types of data that we will explore in this lesson: numeric and text data types.

### Numeric Data Types

Numeric data types include integers and floats. A **floating point** (known as a float) number has decimal points even if that decimal point value is 0. For example: 1.13, 2.0, 1234.345. If we have a column that contains both integers and floating point numbers, Pandas will assign the entire column to the float data type so the decimal points are not lost.

An **integer** will never have a decimal point. Thus if we wanted to store 1.13 as an integer it would be stored as 1. Similarly, 1234.345 would be stored as 1234. You will often see the data type Int64 in Python which stands for 64 bit integer. The 64 refers to the memory allocated to store data in each cell which effectively relates to how many digits it can store in each “cell”. Allocating space ahead of time allows computers to optimize storage and processing efficiency.

### Text Data Type

Text data type is known as Strings in Python, or Objects in Pandas. Strings can contain numbers and / or characters. For example, a string might be a word, a sentence, or several sentences. A Pandas object might also be a plot name like ‘plot1’. A string can also contain or consist of numbers. For instance, ‘1234’ could be stored as a string, as could ‘10.23’. However strings that contain numbers *cannot be used for mathematical operations*!

Pandas and base Python use slightly different names for data types. More on this is in the table below:

| Pandas Type | Native Python Type | Description   |
|-------------|--------------------|---------------|
| object      | string             | The most general dtype. Will be assigned to your column if column has mixed types (numbers and strings). |
| int64       | int                | Numeric characters. 64 refers to the memory allocated to hold this character. |
|float64      | float              | Numeric characters with decimals. If a column contains numbers and NaNs (see below), pandas will default to float64, in case your missing value has a decimal. |
|datetime64, timedelta[ns] | N/A (but see the datetime module in Python’s standard library) | Values meant to hold time data. Look into these for time series experiments. |

### Checking the format of our data

Now that we’re armed with a basic understanding of numeric and text data types, let’s explore the format of our survey data. We’ll be working with the same surveys.csv dataset that we’ve used in previous lessons.

In [101]:
data = pd.read_csv('./data/trafikkregistreringspunkt_1_-_uke_42_og_43_2020.csv')

In [102]:
type(data)

pandas.core.frame.DataFrame

In [103]:
data['vehicle_type'].dtype

dtype('float64')

In [104]:
data['vehicle_type_raw'].dtype

dtype('O')

In [105]:
data.dtypes

created_at_timestamp                          object
event_emitted_timestamp                       object
event_number                                   int64
event_timestamp                               object
klokketime                                     int64
lane                                           int64
length                                       float64
qspeed                                       float64
region_id                                      int64
speed                                        float64
time_gap                                     float64
traffic_registration_point_id                  int64
valid_classification                            bool
valid_event                                     bool
valid_length                                    bool
valid_speed                                     bool
vehicle_type                                 float64
vehicle_type_quality                         float64
vehicle_type_raw                              object
weight                                         int64
with_traffic_registration_point_direction       bool
wrong_direction                                 bool
dtype: object

### Working With Integers and Floats

So we’ve learned that computers store numbers in one of two ways: as integers or as floating-point numbers (or floats). Integers are the numbers we usually count with. Floats have fractional parts (decimal places). Let’s next consider how the data type can impact mathematical operations on our data. Addition, subtraction, division and multiplication work on floats and integers as we’d expect.

In [106]:
5+5

10

In [107]:
24-4

20

In [108]:
5/9

0.5555555555555556

In [109]:
10/3

3.3333333333333335

**History lesson:** In the old Python 2 days operations on numerical values always yielded the same type as the inputs. 10/3 would have returned 3 because both inputs are integers.

In [110]:
a = 7.83
int(a)

7

In [111]:
b = 3
float(b)

3.0

Getting back to our data, we can modify the format of values within our data, if we want. For instance, we could convert the `weight` field to floating point values.

In [112]:
data['region_id'].dtype

dtype('int64')

In [113]:
data['region_id'] = data['region_id'].astype('float64')
data['region_id'].dtype

dtype('float64')

In [114]:
data['vehicle_type'].astype('int64')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

### Missing Data Values - NaN

What happened in the last challenge activity? Notice that this throws a value error: `ValueError: Cannot convert NA to integer`. If we look at the `vehicle_type` column in the surveys data we notice that there are NaN (Not a Number) values. NaN values are undefined values that cannot be represented mathematically. Pandas, for example, will read an empty cell in a CSV or Excel sheet as a NaN. NaNs have some desirable properties: if we were to average the weight column without replacing our NaNs, Python would know to skip over those cells.

In [115]:
data['vehicle_type'].mean()

2.0941273023890465

Dealing with missing data values is always a challenge. It’s sometimes hard to know why values are missing - was it because of a data entry error? Or data that someone was unable to collect? Should the value be 0? We need to know how missing values are represented in the dataset in order to make good decisions. If we’re lucky, we have some metadata that will tell us more about how null values were handled.

For instance, in some disciplines, like Remote Sensing, missing data values are often defined as -9999. Having a bunch of -9999 values in your data could really alter numeric calculations. Often in spreadsheets, cells are left empty where no data are available. Pandas will, by default, replace those missing values with NaN. However it is good practice to get in the habit of intentionally marking cells that have no data, with a no data value! That way there are no questions in the future when you (or someone else) explores your data.

### Where Are the NaN’s?

Let’s explore the NaN values in our data a bit further. We can figure out how many rows contain NaN values for weight. We can also create a new subset from our data that only contains rows with weight values > 0 (i.e., select meaningful weight values).

Let’s identify all vehicle types in the data that have null (missing or NaN) data values. We can use the `isnull` method to do this. The `isnull` method will compare each cell with a `null` value. If an element has a `null` value, it will be assigned a value of True in the output object.

In [120]:
pd.isnull(data.vehicle_type)

0         False
1         False
2         False
3         False
4         False
          ...
299772    False
299773    False
299774    False
299775    False
299776    False
Name: vehicle_type, Length: 299777, dtype: bool

In [121]:
len(data[pd.isnull(data.vehicle_type)])

34

In [122]:
len(data[data.vehicle_type > 0])

299743

We can replace all `NaN` values with zeroes using the `.fillna()` method (after making a copy of the data so we don’t lose our work):

In [123]:
nonan = data.copy()
nonan['vehicle_type'] = data['vehicle_type'].fillna(0)

In [124]:
nonan['vehicle_type'].mean()

2.093889791411616

However `NaN` and 0 yield different analysis results. The mean value when NaN values are replaced with 0 is different from when `NaN` values are simply thrown out or ignored.

In [125]:
data['vehicle_type'].mean() == nonan['vehicle_type'].mean()

False

In [127]:
data['vehicle_type'].mean() - nonan['vehicle_type'].mean()

0.00023751097743041072

We can fill `NaN` values with any value that we chose. The code below fills all `NaN` values with a mean for all weight values.

In [128]:
nonan['vehicle_type'] = data['vehicle_type'].fillna(data['vehicle_type'].mean())

In [131]:
most_frequent= data['vehicle_type'].value_counts().index[0]
most_frequent

2.0

In [132]:
nonan['vehicle_type'] = data['vehicle_type'].fillna(most_frequent)

The point is to make conscious decisions about how to manage missing data. This is where we think about how our data will be used and how these values will impact the scientific conclusions made from the data.

Python gives us all of the tools that we need to account for these issues. We just need to be cautious about how the decisions that we make impact scientific results.

### Writing Out Data to CSV


We’ve learned about using manipulating data to get desired outputs. But we’ve also discussed keeping data that has been manipulated separate from our raw data. Something we might be interested in doing is working with only the columns that have full data. First, let’s reload the data so we’re not mixing up all of our previous manipulations.

In [168]:
data = pd.read_csv('./data/trafikkregistreringspunkt_1_-_uke_42_og_43_2020.csv')

Next, let’s drop all the rows that contain missing values. We will use the command `dropna`. By default, dropna removes rows that contain missing data for even just one column.

In [137]:
nonan = data.dropna()

In [138]:
nonan

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,traffic_registration_point_id,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
0,"2020-10-26, 02:16:08.090","2020-10-25, 23:59:53.564",27849732,"2020-10-25, 23:59:53.564",23,4,4.5,0.0,1,73.2,...,1,True,True,True,True,2.0,LMV2,0,False,False
1,"2020-10-26, 02:16:08.116","2020-10-25, 23:58:28.296",27849731,"2020-10-25, 23:58:28.296",23,3,4.6,0.0,1,75.4,...,1,True,True,True,True,2.0,LMV2,0,True,False
2,"2020-10-26, 02:16:08.066","2020-10-25, 23:58:25.527",27849730,"2020-10-25, 23:58:25.527",23,3,4.6,0.0,1,80.1,...,1,True,True,True,True,2.0,LMV2,0,True,False
3,"2020-10-26, 02:16:08.085","2020-10-25, 23:58:19.077",27849729,"2020-10-25, 23:58:19.077",23,3,4.1,0.0,1,75.4,...,1,True,True,True,True,2.0,LMV2,0,True,False
4,"2020-10-26, 02:16:08.116","2020-10-25, 23:57:49.695",27849728,"2020-10-25, 23:57:49.695",23,4,4.3,2.3,1,75.4,...,1,False,True,False,False,2.0,LMV2,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299772,"2020-10-12, 03:06:45.940","2020-10-12, 00:02:36.830",27549743,"2020-10-12, 00:02:36.830",0,4,4.2,0.0,1,80.1,...,1,True,True,True,True,2.0,LMV2,0,False,False
299773,"2020-10-12, 03:06:45.939","2020-10-12, 00:01:51.299",27549742,"2020-10-12, 00:01:51.299",0,4,5.4,0.0,1,77.7,...,1,True,True,True,True,2.0,LMV2,0,False,False
299774,"2020-10-12, 03:06:45.944","2020-10-12, 00:01:35.216",27549741,"2020-10-12, 00:01:35.216",0,3,4.1,0.0,1,77.7,...,1,True,True,True,True,2.0,LMV2,0,True,False
299775,"2020-10-12, 03:06:45.947","2020-10-12, 00:01:28.606",27549740,"2020-10-12, 00:01:28.606",0,4,4.1,0.0,1,67.5,...,1,True,True,True,True,2.0,LMV2,0,False,False
299776,"2020-10-12, 03:06:45.940","2020-10-12, 00:01:20.541",27549739,"2020-10-12, 00:01:20.541",0,4,4.6,0.0,1,77.7,...,1,True,True,True,True,2.0,LMV2,0,False,False

If you now type `nonan`, you should observe that the resulting DataFrame has 299743 rows, a bit smaller than the original dataset.

We can now use the `to_csv` command to export a DataFrame in CSV format. Note that the code below will by default save the data into the current working directory. We can save it to a different folder by adding the foldername and a slash before the filename: `df.to_csv('foldername/out.csv')`. We use `index=False` so that Pandas doesn’t include the index number for each line.

In [139]:
nonan.to_csv('./data/preprocessed_nonan.csv', index=False)

### Key Points

- Pandas uses other names for data types than Python, for example: `object` for textual data.
- A column in a DataFrame can only have one data type.
- The data type in a DataFrame’s single column can be checked using dtype.
- Make conscious decisions about how to manage missing data.
- A DataFrame can be saved to a CSV file using the `to_csv` function.

## Combining DataFrames

### Questions

- Can I work with data from multiple sources?
- How can I combine data from different data sets?

### Objectives

- Combine data from multiple files into a single DataFrame using merge and concat.
- Combine two DataFrames using a unique ID found in both DataFrames.
- Employ to_csv to export a DataFrame in CSV format.
- Join DataFrames using common fields (join keys).

In many “real world” situations, the data that we want to use come in multiple files. We often need to combine these files into a single DataFrame to analyze the data. The Pandas package provides various methods for combining DataFrames including `merge` and `concat`.

### Concatenating DataFrames

We can use the `concat` function in pandas to append either columns or rows from one DataFrame to another. Let’s grab two subsets of our data to see how this works.

In [140]:
data_head = data.head(10)

In [141]:
data_tail = data.tail(10)

In [142]:
# reset indices on the tail
data_tail = data_tail.reset_index(drop=True)

When we concatenate DataFrames, we need to specify the axis. `axis=0` tells Pandas to stack the second DataFrame UNDER the first one. It will automatically detect whether the column names are the same and will stack accordingly. `axis=1` will stack the columns in the second DataFrame to the RIGHT of the first DataFrame. To stack the data vertically, we need to make sure we have the same columns and associated column format in both datasets. When we stack horizontally, we want to make sure what we are doing makes sense (i.e. the data are related in some way).

In [149]:
vertical_stack = pd.concat([data_head, data_tail], axis=0)
vertical_stack

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,traffic_registration_point_id,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
0,"2020-10-26, 02:16:08.090","2020-10-25, 23:59:53.564",27849732,"2020-10-25, 23:59:53.564",23,4,4.5,0.0,1,73.2,...,1,True,True,True,True,2.0,LMV2,0,False,False
1,"2020-10-26, 02:16:08.116","2020-10-25, 23:58:28.296",27849731,"2020-10-25, 23:58:28.296",23,3,4.6,0.0,1,75.4,...,1,True,True,True,True,2.0,LMV2,0,True,False
2,"2020-10-26, 02:16:08.066","2020-10-25, 23:58:25.527",27849730,"2020-10-25, 23:58:25.527",23,3,4.6,0.0,1,80.1,...,1,True,True,True,True,2.0,LMV2,0,True,False
3,"2020-10-26, 02:16:08.085","2020-10-25, 23:58:19.077",27849729,"2020-10-25, 23:58:19.077",23,3,4.1,0.0,1,75.4,...,1,True,True,True,True,2.0,LMV2,0,True,False
4,"2020-10-26, 02:16:08.116","2020-10-25, 23:57:49.695",27849728,"2020-10-25, 23:57:49.695",23,4,4.3,2.3,1,75.4,...,1,False,True,False,False,2.0,LMV2,0,False,False
5,"2020-10-26, 02:16:08.082","2020-10-25, 23:57:35.755",27849727,"2020-10-25, 23:57:35.755",23,4,3.9,0.0,1,82.7,...,1,True,True,True,True,2.0,LMV2,0,False,False
6,"2020-10-26, 02:16:08.090","2020-10-25, 23:57:15.718",27849726,"2020-10-25, 23:57:15.718",23,4,4.8,0.0,1,85.5,...,1,True,True,True,True,2.0,LMV2,0,False,False
7,"2020-10-26, 02:16:08.117","2020-10-25, 23:57:08.411",27849725,"2020-10-25, 23:57:08.411",23,3,4.4,0.0,1,77.7,...,1,True,True,True,True,2.0,LMV2,0,True,False
8,"2020-10-26, 02:16:08.090","2020-10-25, 23:56:20.202",27849724,"2020-10-25, 23:56:20.202",23,4,4.9,0.0,1,64.1,...,1,True,True,True,True,2.0,LMV2,0,False,False
9,"2020-10-26, 02:16:08.067","2020-10-25, 23:56:17.945",27849723,"2020-10-25, 23:56:17.945",23,4,4.1,0.0,1,65.7,...,1,True,True,True,True,2.0,LMV2,0,False,False
0,"2020-10-12, 03:06:45.939","2020-10-12, 00:07:05.164",27549748,"2020-10-12, 00:07:05.164",0,4,4.9,0.0,1,80.1,...,1,True,True,True,True,2.0,LMV2,0,False,False
1,"2020-10-12, 03:06:45.946","2020-10-12, 00:05:57.229",27549747,"2020-10-12, 00:05:57.229",0,4,5.0,0.0,1,82.7,...,1,True,True,True,True,2.0,LMV2,0,False,False
2,"2020-10-12, 03:06:45.941","2020-10-12, 00:04:21.913",27549746,"2020-10-12, 00:04:21.913",0,3,4.7,0.0,1,75.4,...,1,True,True,True,True,2.0,LMV2,0,True,False
3,"2020-10-12, 03:06:45.937","2020-10-12, 00:03:05.678",27549745,"2020-10-12, 00:03:05.678",0,3,4.8,0.0,1,82.7,...,1,True,True,True,True,2.0,LMV2,0,True,False
4,"2020-10-12, 03:06:45.943","2020-10-12, 00:02:42.641",27549744,"2020-10-12, 00:02:42.641",0,3,5.1,2.7,1,91.6,...,1,False,True,False,False,2.0,LMV2,0,True,False
5,"2020-10-12, 03:06:45.940","2020-10-12, 00:02:36.830",27549743,"2020-10-12, 00:02:36.830",0,4,4.2,0.0,1,80.1,...,1,True,True,True,True,2.0,LMV2,0,False,False
6,"2020-10-12, 03:06:45.939","2020-10-12, 00:01:51.299",27549742,"2020-10-12, 00:01:51.299",0,4,5.4,0.0,1,77.7,...,1,True,True,True,True,2.0,LMV2,0,False,False
7,"2020-10-12, 03:06:45.944","2020-10-12, 00:01:35.216",27549741,"2020-10-12, 00:01:35.216",0,3,4.1,0.0,1,77.7,...,1,True,True,True,True,2.0,LMV2,0,True,False
8,"2020-10-12, 03:06:45.947","2020-10-12, 00:01:28.606",27549740,"2020-10-12, 00:01:28.606",0,4,4.1,0.0,1,67.5,...,1,True,True,True,True,2.0,LMV2,0,False,False
9,"2020-10-12, 03:06:45.940","2020-10-12, 00:01:20.541",27549739,"2020-10-12, 00:01:20.541",0,4,4.6,0.0,1,77.7,...,1,True,True,True,True,2.0,LMV2,0,False,False

In [151]:
horizontal_stack = pd.concat([data_head, data_tail], axis=1)
horizontal_stack.columns

Index(['created_at_timestamp', 'event_emitted_timestamp', 'event_number',
       'event_timestamp', 'klokketime', 'lane', 'length', 'qspeed',
       'region_id', 'speed', 'time_gap', 'traffic_registration_point_id',
       'valid_classification', 'valid_event', 'valid_length', 'valid_speed',
       'vehicle_type', 'vehicle_type_raw', 'weight',
       'with_traffic_registration_point_direction', 'wrong_direction',
       'created_at_timestamp', 'event_emitted_timestamp', 'event_number',
       'event_timestamp', 'klokketime', 'lane', 'length', 'qspeed',
       'region_id', 'speed', 'time_gap', 'traffic_registration_point_id',
       'valid_classification', 'valid_event', 'valid_length', 'valid_speed',
       'vehicle_type', 'vehicle_type_raw', 'weight',
       'with_traffic_registration_point_direction', 'wrong_direction'],
      dtype='object')

Have a look at the vertical_stack dataframe? Notice anything unusual? The row indexes for the two data frames data_head and data_tail have been repeated. We can reindex the new dataframe using the reset_index() method.

In [154]:
vertical_stack = vertical_stack.reset_index(drop=True)
vertical_stack

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,traffic_registration_point_id,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
0,"2020-10-26, 02:16:08.090","2020-10-25, 23:59:53.564",27849732,"2020-10-25, 23:59:53.564",23,4,4.5,0.0,1,73.2,...,1,True,True,True,True,2.0,LMV2,0,False,False
1,"2020-10-26, 02:16:08.116","2020-10-25, 23:58:28.296",27849731,"2020-10-25, 23:58:28.296",23,3,4.6,0.0,1,75.4,...,1,True,True,True,True,2.0,LMV2,0,True,False
2,"2020-10-26, 02:16:08.066","2020-10-25, 23:58:25.527",27849730,"2020-10-25, 23:58:25.527",23,3,4.6,0.0,1,80.1,...,1,True,True,True,True,2.0,LMV2,0,True,False
3,"2020-10-26, 02:16:08.085","2020-10-25, 23:58:19.077",27849729,"2020-10-25, 23:58:19.077",23,3,4.1,0.0,1,75.4,...,1,True,True,True,True,2.0,LMV2,0,True,False
4,"2020-10-26, 02:16:08.116","2020-10-25, 23:57:49.695",27849728,"2020-10-25, 23:57:49.695",23,4,4.3,2.3,1,75.4,...,1,False,True,False,False,2.0,LMV2,0,False,False
5,"2020-10-26, 02:16:08.082","2020-10-25, 23:57:35.755",27849727,"2020-10-25, 23:57:35.755",23,4,3.9,0.0,1,82.7,...,1,True,True,True,True,2.0,LMV2,0,False,False
6,"2020-10-26, 02:16:08.090","2020-10-25, 23:57:15.718",27849726,"2020-10-25, 23:57:15.718",23,4,4.8,0.0,1,85.5,...,1,True,True,True,True,2.0,LMV2,0,False,False
7,"2020-10-26, 02:16:08.117","2020-10-25, 23:57:08.411",27849725,"2020-10-25, 23:57:08.411",23,3,4.4,0.0,1,77.7,...,1,True,True,True,True,2.0,LMV2,0,True,False
8,"2020-10-26, 02:16:08.090","2020-10-25, 23:56:20.202",27849724,"2020-10-25, 23:56:20.202",23,4,4.9,0.0,1,64.1,...,1,True,True,True,True,2.0,LMV2,0,False,False
9,"2020-10-26, 02:16:08.067","2020-10-25, 23:56:17.945",27849723,"2020-10-25, 23:56:17.945",23,4,4.1,0.0,1,65.7,...,1,True,True,True,True,2.0,LMV2,0,False,False
10,"2020-10-12, 03:06:45.939","2020-10-12, 00:07:05.164",27549748,"2020-10-12, 00:07:05.164",0,4,4.9,0.0,1,80.1,...,1,True,True,True,True,2.0,LMV2,0,False,False
11,"2020-10-12, 03:06:45.946","2020-10-12, 00:05:57.229",27549747,"2020-10-12, 00:05:57.229",0,4,5.0,0.0,1,82.7,...,1,True,True,True,True,2.0,LMV2,0,False,False
12,"2020-10-12, 03:06:45.941","2020-10-12, 00:04:21.913",27549746,"2020-10-12, 00:04:21.913",0,3,4.7,0.0,1,75.4,...,1,True,True,True,True,2.0,LMV2,0,True,False
13,"2020-10-12, 03:06:45.937","2020-10-12, 00:03:05.678",27549745,"2020-10-12, 00:03:05.678",0,3,4.8,0.0,1,82.7,...,1,True,True,True,True,2.0,LMV2,0,True,False
14,"2020-10-12, 03:06:45.943","2020-10-12, 00:02:42.641",27549744,"2020-10-12, 00:02:42.641",0,3,5.1,2.7,1,91.6,...,1,False,True,False,False,2.0,LMV2,0,True,False
15,"2020-10-12, 03:06:45.940","2020-10-12, 00:02:36.830",27549743,"2020-10-12, 00:02:36.830",0,4,4.2,0.0,1,80.1,...,1,True,True,True,True,2.0,LMV2,0,False,False
16,"2020-10-12, 03:06:45.939","2020-10-12, 00:01:51.299",27549742,"2020-10-12, 00:01:51.299",0,4,5.4,0.0,1,77.7,...,1,True,True,True,True,2.0,LMV2,0,False,False
17,"2020-10-12, 03:06:45.944","2020-10-12, 00:01:35.216",27549741,"2020-10-12, 00:01:35.216",0,3,4.1,0.0,1,77.7,...,1,True,True,True,True,2.0,LMV2,0,True,False
18,"2020-10-12, 03:06:45.947","2020-10-12, 00:01:28.606",27549740,"2020-10-12, 00:01:28.606",0,4,4.1,0.0,1,67.5,...,1,True,True,True,True,2.0,LMV2,0,False,False
19,"2020-10-12, 03:06:45.940","2020-10-12, 00:01:20.541",27549739,"2020-10-12, 00:01:20.541",0,4,4.6,0.0,1,77.7,...,1,True,True,True,True,2.0,LMV2,0,False,False

### Joining DataFrames

When we concatenated our DataFrames we simply added them to each other - stacking them either vertically or side by side. Another way to combine DataFrames is to use columns in each dataset that contain common values (a common unique id). Combining DataFrames using a common field is called “joining”. The columns containing the common values are called “join key(s)”. Joining DataFrames in this way is often useful when one DataFrame is a “lookup table” containing additional data that we want to include in the other.

NOTE: This process of joining tables is similar to what we do with tables in an SQL database.

Storing data in this way has many benefits including:

1. It ensures consistency in the data by avoiding duplicate entries. 
2. It also makes it easy for us to make changes to the data once without having to find each instance of it in the larger survey data.
3. It optimizes the size of our data.

To better understand joins, let’s grab the first 10 lines of our data as a subset to work with.

In [169]:
data = pd.read_csv('./data/trafikkregistreringspunkt_1_-_uke_42_og_43_2020.csv')

In [170]:
data_head = data.head(10)

We'll make a lookup table for vehicle types, delete the column `vehicle_type_raw` from the test data and then rejoin the data

In [171]:
vehicle_types = data[['vehicle_type', 'vehicle_type_raw']].drop_duplicates().reset_index(drop=True)
vehicle_types

   vehicle_type vehicle_type_raw
0           2.0             LMV2
1           3.0              HMV
2           4.0          LMV2+WC
3           1.0             LMV1
4           NaN          UC LOOP

In [172]:
data_head = data_head.drop(columns=['vehicle_type_raw'])
data_head.columns

Index(['created_at_timestamp', 'event_emitted_timestamp', 'event_number',
       'event_timestamp', 'klokketime', 'lane', 'length', 'qspeed',
       'region_id', 'speed', 'time_gap', 'traffic_registration_point_id',
       'valid_classification', 'valid_event', 'valid_length', 'valid_speed',
       'vehicle_type', 'weight', 'with_traffic_registration_point_direction',
       'wrong_direction'],
      dtype='object')

### Inner joins

The most common type of join is called an *inner join*. An inner join combines two DataFrames based on a join key and returns a new DataFrame that contains only those rows that have matching values in both of the original DataFrames.

The Pandas function for performing joins is called `merge` and an inner join is the default option:

In [175]:
merged_inner = pd.merge(left=data_head, right=vehicle_types, left_on='vehicle_type', right_on='vehicle_type')
merged_inner

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,traffic_registration_point_id,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,weight,with_traffic_registration_point_direction,wrong_direction,vehicle_type_raw
0,"2020-10-26, 02:16:08.090","2020-10-25, 23:59:53.564",27849732,"2020-10-25, 23:59:53.564",23,4,4.5,0.0,1,73.2,...,1,True,True,True,True,2.0,0,False,False,LMV2
1,"2020-10-26, 02:16:08.116","2020-10-25, 23:58:28.296",27849731,"2020-10-25, 23:58:28.296",23,3,4.6,0.0,1,75.4,...,1,True,True,True,True,2.0,0,True,False,LMV2
2,"2020-10-26, 02:16:08.066","2020-10-25, 23:58:25.527",27849730,"2020-10-25, 23:58:25.527",23,3,4.6,0.0,1,80.1,...,1,True,True,True,True,2.0,0,True,False,LMV2
3,"2020-10-26, 02:16:08.085","2020-10-25, 23:58:19.077",27849729,"2020-10-25, 23:58:19.077",23,3,4.1,0.0,1,75.4,...,1,True,True,True,True,2.0,0,True,False,LMV2
4,"2020-10-26, 02:16:08.116","2020-10-25, 23:57:49.695",27849728,"2020-10-25, 23:57:49.695",23,4,4.3,2.3,1,75.4,...,1,False,True,False,False,2.0,0,False,False,LMV2
5,"2020-10-26, 02:16:08.082","2020-10-25, 23:57:35.755",27849727,"2020-10-25, 23:57:35.755",23,4,3.9,0.0,1,82.7,...,1,True,True,True,True,2.0,0,False,False,LMV2
6,"2020-10-26, 02:16:08.090","2020-10-25, 23:57:15.718",27849726,"2020-10-25, 23:57:15.718",23,4,4.8,0.0,1,85.5,...,1,True,True,True,True,2.0,0,False,False,LMV2
7,"2020-10-26, 02:16:08.117","2020-10-25, 23:57:08.411",27849725,"2020-10-25, 23:57:08.411",23,3,4.4,0.0,1,77.7,...,1,True,True,True,True,2.0,0,True,False,LMV2
8,"2020-10-26, 02:16:08.090","2020-10-25, 23:56:20.202",27849724,"2020-10-25, 23:56:20.202",23,4,4.9,0.0,1,64.1,...,1,True,True,True,True,2.0,0,False,False,LMV2
9,"2020-10-26, 02:16:08.067","2020-10-25, 23:56:17.945",27849723,"2020-10-25, 23:56:17.945",23,4,4.1,0.0,1,65.7,...,1,True,True,True,True,2.0,0,False,False,LMV2

### Left joins

What if we want to add information from `vehicle_types` to `data_head` without losing any of the information from `data_head`? In this case, we use a different type of join called a “left outer join”, or a “left join”.

Like an inner join, a left join uses join keys to combine two DataFrames. Unlike an inner join, a left join will return all of the rows from the left DataFrame, even those rows whose join key(s) do not have values in the right DataFrame. Rows in the left DataFrame that are missing values for the join key(s) in the right DataFrame will simply have null (i.e., NaN or None) values for those columns in the resulting joined DataFrame.

Note: a left join will still discard rows from the right DataFrame that do not have values for the join key(s) in the left DataFrame.

In [176]:
merged_left = pd.merge(left=data_head, right=vehicle_types, left_on='vehicle_type', how='left', right_on='vehicle_type')
merged_left

,created_at_timestamp,event_emitted_timestamp,event_number,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,traffic_registration_point_id,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,weight,with_traffic_registration_point_direction,wrong_direction,vehicle_type_raw
0,"2020-10-26, 02:16:08.090","2020-10-25, 23:59:53.564",27849732,"2020-10-25, 23:59:53.564",23,4,4.5,0.0,1,73.2,...,1,True,True,True,True,2.0,0,False,False,LMV2
1,"2020-10-26, 02:16:08.116","2020-10-25, 23:58:28.296",27849731,"2020-10-25, 23:58:28.296",23,3,4.6,0.0,1,75.4,...,1,True,True,True,True,2.0,0,True,False,LMV2
2,"2020-10-26, 02:16:08.066","2020-10-25, 23:58:25.527",27849730,"2020-10-25, 23:58:25.527",23,3,4.6,0.0,1,80.1,...,1,True,True,True,True,2.0,0,True,False,LMV2
3,"2020-10-26, 02:16:08.085","2020-10-25, 23:58:19.077",27849729,"2020-10-25, 23:58:19.077",23,3,4.1,0.0,1,75.4,...,1,True,True,True,True,2.0,0,True,False,LMV2
4,"2020-10-26, 02:16:08.116","2020-10-25, 23:57:49.695",27849728,"2020-10-25, 23:57:49.695",23,4,4.3,2.3,1,75.4,...,1,False,True,False,False,2.0,0,False,False,LMV2
5,"2020-10-26, 02:16:08.082","2020-10-25, 23:57:35.755",27849727,"2020-10-25, 23:57:35.755",23,4,3.9,0.0,1,82.7,...,1,True,True,True,True,2.0,0,False,False,LMV2
6,"2020-10-26, 02:16:08.090","2020-10-25, 23:57:15.718",27849726,"2020-10-25, 23:57:15.718",23,4,4.8,0.0,1,85.5,...,1,True,True,True,True,2.0,0,False,False,LMV2
7,"2020-10-26, 02:16:08.117","2020-10-25, 23:57:08.411",27849725,"2020-10-25, 23:57:08.411",23,3,4.4,0.0,1,77.7,...,1,True,True,True,True,2.0,0,True,False,LMV2
8,"2020-10-26, 02:16:08.090","2020-10-25, 23:56:20.202",27849724,"2020-10-25, 23:56:20.202",23,4,4.9,0.0,1,64.1,...,1,True,True,True,True,2.0,0,False,False,LMV2
9,"2020-10-26, 02:16:08.067","2020-10-25, 23:56:17.945",27849723,"2020-10-25, 23:56:17.945",23,4,4.1,0.0,1,65.7,...,1,True,True,True,True,2.0,0,False,False,LMV2

### Other join types

The pandas merge function supports two other join types:

- Right (outer) join: Invoked by passing `how='right'` as an argument. Similar to a left join, except all rows from the right DataFrame are kept, while rows from the left DataFrame without matching join key(s) values are discarded.
- Full (outer) join: Invoked by passing `how='outer'` as an argument. This join type returns the all pairwise combinations of rows from both DataFrames; i.e., the result DataFrame will NaN where data is missing in one of the dataframes. This join type is very rarely used.

### Key Points

- Pandas’ `merge` and `concat` can be used to combine subsets of a DataFrame, or even data from different files.
- Joining two DataFrames can be done in multiple ways (left, right, and inner) depending on what data must be in the final DataFrame.